/* You can add global styles to this file, and also import other style files */
/* GLOBAL FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

// Colors
$violet: #873eff;
$darkGray: #222222;
$black: #141414;
$white: #ffffff;
// Applied colors
$primary: $violet;
$bodyBg: $black;
$darkBorder: $darkGray;
$textColor: $white;
$mainFont: "Poppins", sans-serif;

.panel,
.panel .panel-heading,
a.list-group-item,
.list-group-item,
body {
  background-color: $bodyBg;
  border-color: $darkBorder;
  color: $textColor;
  font-family: $mainFont;
}

a.list-group-item {
  &:hover {
    color: $textColor;
    background-color: $darkGray;
  }
}

h1, h2 {
  font-weight: 700;
}

body {
  border-top: 1rem $primary solid;
}
